li {
  list-style-type: none;
}

.tag-task-mini-container {
  display: flex;
  width: 55vw;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #131213;
  margin-bottom: 20px;
  margin-right: 20px;
}

.task {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.tag {
  background-color: #f3aa4e;
  color: #323f4b;
  font-weight: bold;
  width: 140px;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
}
